{% extends "base.html.twig" %}

{% block submenu %}
    <ul>
        <li class="{{ app.request.attributes.get('_route') == "formation_list" ? "active" : "" }}">
            <a href="{{ path('formation_list') }}" >Liste</a>
        </li>
        <li class="{{ app.request.attributes.get('_route') == "formation_add" ? "active" : "" }}">
            <a href="{{ path('formation_add') }}">Ajouter</a>
        </li>
        
    </ul>
{% endblock %}