*{
    box-sizing: border-box;
}
.form{
    max-width: 75vw;
    margin: auto;
}
.flex-form{
    padding: 0 0 1em 4em;
    position: relative;
}
.flex-form>div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1em;
    animation: appear 0.5s forwards;
    transform-origin: top;
}
.flex-form .removeBtn{
    position: absolute;
    top: 0.5em;
    left: 0;
    background: none;
    border: none;
    font-size: 2em;
    color: red;
    font-weight: bold;
}

@keyframes appear {
    from{
        transform: scaleY(0)
    }
}
.form label, 
.form input[type='text'],
.form input[type='number'],
.form select{
    padding: 0.5em 0.2em;
    display: block;
    width: 100%;
    height: 2.5em;
}
.form label{
    text-transform: uppercase;
    font-size: 0.7em;
    height: auto;
    
}
.form__rangeRow{
    display: flex;
    align-items: center;
}
.form__rangeRow input{
    
}
.form__validRow{
    text-align: center;
}